.popup__button-save {
    margin-top: 48px;
    width: 100%;
    min-height: 50px;
    background: #000000;
    border: 0;
    border-radius: 2px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    -moz-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.popup__button-save:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}


@media screen and (max-width: 680px) {

    .popup__button-save {
        margin-top: 45px;
    }
}