.profile {
        margin: 0 auto;
        padding-top: 51px;
        width: calc(100% - 38px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      
         
      @media screen and (max-width: 680px) {
      
        .profile { 
        padding-top: 36px;
        flex-direction: column;  
        }
      }
