.profile__block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

@media screen and (max-width: 680px) {

    .profile__block {
        flex-direction: column;
    }
}