.popup__image-container {
    position: relative;
    box-sizing: border-box;  
    margin: 60px;
}

@media screen and (max-width: 680px) {

    .popup__image-container {
        margin: 40px;
    }
}
