.profile__info {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    max-width: 394px;
}

@media screen and (max-width: 680px) {

    .profile__info {
        margin: 22px 0 36px;
        align-items: center;
        max-width: 282px;
    }
}