.popup__button-save_disabled {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .5);
    color: #000;
    opacity: .5;
    -moz-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}